# =============================================================================
# CONFIGURACIÓN DEL SERVIDOR
# =============================================================================

PORT=3000

NODE_ENV=development

# =============================================================================
# CONFIGURACIÓN DE CORS
# =============================================================================

CORS=http://localhost:5173,http://localhost:4173
